config THINKPAD_EC
	tristate
	---help---
	  This is a low-level driver for accessing the ThinkPad H8S embedded
	  controller over the LPC bus (not to be confused with the ACPI Embedded
	  Controller interface).
	  
config TP_SMAPI
	tristate "ThinkPad SMAPI Support"
	select THINKPAD_EC
	default n
	help
	  This adds SMAPI support on Lenovo/IBM ThinkPads, for features such
	  as battery charging control. For more information about this driver
	  see <http://www.thinkwiki.org/wiki/tp_smapi>.
	  If you have a Lenovo/IBM ThinkPad laptop, say Y or M here.
